@font-face {
    font-family: ginbold;
    src: url(../fonts/ginbold.otf);
}
@font-face {
    font-family: ginrec;
    src: url(../fonts/ginrec.otf);
}

body{
    background-color: #f3f7fd;
}
.st0{fill:#FAB628;}

#svg{
    width: 50%;
}
#cirkcontain{
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    position: relative;
    top: 100px;
}
#contain{
    width: 100%;
    height: 600px;
    position: relative;
    top: 400px;
    display: flex;
    justify-content: center;
}
#align{
    width: 600px;
    height: 600px;
    text-align: center;
}
input{
    width: 600px;
    height: 125px;
    background-color: black;
    border-radius: 25px;
    font-size: 50px;
    color: white;
    font-family: ginrec;
    margin-bottom: 20px;
    padding-left: 10px;
}
::placeholder{
    color: white;
    padding-left: 10px;
}
button{
    width: 300px;
    height: 125px;
    background-color: dimgrey;
    border-radius: 25px;
    font-size: 50px;
    color: white;
    font-family: ginrec;
    position: relative;
    left: 150px;
}
#password{
    font-family: ginbold;
    font-size: 50px;
    padding-bottom: 25px;
}